.App {
  text-align: center;
}

.fixed {
  width: 100%;
  z-index: 1;
  position: fixed;
}

.footer {
  right: 0;
  bottom: 0;
  background-color: #fff;
  position: fixed;
}

.app-tabs {
  background-color: white;
}

.periods {
  margin-top: 7px;
}

.form {
  background-color: #fbfbfb;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}

.submit {
  flex: 1;
  align-self: center;
}

.search {
  flex: 1;
}
